body {
    background-image: url('../../../assets/background1.jpg');
}

.my-container-css {
    margin-top: 50px;
    font-family: 'Open Sans';
}

.mid-container {
    border: 1px solid black;
    border-radius: 4px;
}

.inner-container {
    align-items: center;
    display: flex;
    justify-content: center;
    flex-direction: column;
    padding: 20px;
    background-color: white;
}

.timers-div {
    padding: 15px;
    background-color: #6601d9;
    overflow: hidden;
}

.question-no-div {
    float: left;
    color: white;
    padding: 5px;
}

.duration-div {
    float: right;
    color: white;
    padding: 5px;
}

.question-header {
    text-align: center;
    padding: 20px;
    max-width: 100%;
    line-height: 1.1rem;
}

.options-overall {
    line-height: 2rem;
}

.radio-button-css {
    padding: 6px 10px;
    background-color: lightgray;
    border-radius: 4px;
    color: black;
    cursor: pointer;
    margin-bottom: 20px;
}

.options-overall input[type="radio"]:checked+label {
    background-color: #6601d9;
    color: white;
}

.changeLbl {
    padding: 6px 10px;
    background-color: #6601d9;
    border-radius: 4px;
    color: white;
    cursor: pointer;
    margin-bottom: 20px;
}

input[type="radio"] {
    display: none;
}

.buttons-overall {
    width: 100%;
}

.btn-clear {
    float: left;
    background-color: #6601d9;
    color: white;
}

.btn-nextq {
    float: right;
    background-color: #6601d9;
    color: white;
}