a {
  cursor: pointer;
}

h1.page-header {
  margin-top: -5px;
}

.sidebar {
  padding-left: 0;
}

.main-container {
  background: #FFF;
  padding-top: 15px;
  margin-top: -20px;
}

.custom-select {
  font-size: 1.5rem;
}

.logout-btn-class {
  position: absolute;
  right: 20px;
}

.footer {
  width: 100%;
}

:focus {
  outline: none;
}

.side-menu {
  position: relative;
  width: 100%;
  height: 100%;
  background-color: #f8f8f8;
}

.no-border-right-plz {
  border: none !important;
}

.table-custom-class {
  width: 80%;
  margin-left: 10%;
  margin-bottom: 80px;
}

.side-menu .navbar {
  border: none;
}

.side-menu .navbar-header {
  width: 100%;
  border-bottom: 1px solid #e7e7e7;
}

.side-menu .navbar-nav .active a {
  background-color: transparent;
  margin-right: -1px;
  border-right: 5px solid #e7e7e7;
}

.side-menu .navbar-nav li {
  display: block;
  width: 100%;
  border-bottom: 1px solid #e7e7e7;
}

.side-menu .navbar-nav li a {
  padding: 15px;
}

.side-menu .navbar-nav li a .glyphicon {
  padding-right: 10px;
}

.side-menu .brand-name-wrapper {
  min-height: 50px;
}

.side-menu .brand-name-wrapper .navbar-brand {
  display: block;
}

/* Main body section */

.side-body {
  margin-left: 310px;
}

/* small screen */

@media (max-width: 768px) {
  .side-menu {
    position: relative;
    width: 100%;
    height: 0;
    border-right: 0;
  }
  .side-menu .navbar {
    z-index: 999;
    position: relative;
    height: 0;
    min-height: 0;
    background-color: none !important;
    border-color: none !important;
  }
  .side-menu .brand-name-wrapper .navbar-brand {
    display: inline-block;
  }
  .side-menu-container {
    padding-top: 20px;
    background-color: #f1f1f1;
    height: 100%;
  }
  /* Slide in animation */
  @-moz-keyframes slidein {
    0% {
      left: -300px;
    }
    100% {
      left: 10px;
    }
  }
  @-webkit-keyframes slidein {
    0% {
      left: -300px;
    }
    100% {
      left: 10px;
    }
  }
  @keyframes slidein {
    0% {
      left: -300px;
    }
    100% {
      left: 10px;
    }
  }
  @-moz-keyframes slideout {
    0% {
      left: 0;
    }
    100% {
      left: -300px;
    }
  }
  @-webkit-keyframes slideout {
    0% {
      left: 0;
    }
    100% {
      left: -300px;
    }
  }
  @keyframes slideout {
    0% {
      left: 0;
    }
    100% {
      left: -300px;
    }
  }
  /* Slide side menu*/
  /* Add .absolute-wrapper.slide-in for scrollable menu -> see top comment */
  .side-menu-container>.navbar-nav.slide-in {
    -moz-animation: slidein 300ms forwards;
    -o-animation: slidein 300ms forwards;
    -webkit-animation: slidein 300ms forwards;
    animation: slidein 300ms forwards;
    -webkit-transform-style: preserve-3d;
    transform-style: preserve-3d;
  }
  .side-menu-container>.navbar-nav {
    /* Add position:absolute for scrollable menu -> see top comment */
    position: fixed;
    left: -300px;
    width: 300px;
    top: 43px;
    height: 100%;
    border-right: 1px solid #e7e7e7;
    background-color: #f8f8f8;
    overflow: auto;
    -moz-animation: slideout 300ms forwards;
    -o-animation: slideout 300ms forwards;
    -webkit-animation: slideout 300ms forwards;
    animation: slideout 300ms forwards;
    -webkit-transform-style: preserve-3d;
    transform-style: preserve-3d;
  }
  @-moz-keyframes bodyslidein {
    0% {
      left: 0;
    }
    100% {
      left: 300px;
    }
  }
  @-webkit-keyframes bodyslidein {
    0% {
      left: 0;
    }
    100% {
      left: 300px;
    }
  }
  @keyframes bodyslidein {
    0% {
      left: 0;
    }
    100% {
      left: 300px;
    }
  }
  @-moz-keyframes bodyslideout {
    0% {
      left: 300px;
    }
    100% {
      left: 0;
    }
  }
  @-webkit-keyframes bodyslideout {
    0% {
      left: 300px;
    }
    100% {
      left: 0;
    }
  }
  @keyframes bodyslideout {
    0% {
      left: 300px;
    }
    100% {
      left: 0;
    }
  }
  /* #logout {
    float: right;
  } */
}

button {
  background-color: #6601d9;
  color: white;
  border-radius: 20px;
  font-weight: bold;
}

button:hover {
  color: white;
}

.navbar-css {
  background-color: #6601d9;
}

.navbar-a-css {
  color: white;
}

footer {
  background-color: #6601d9;
  color: white;
  padding: 15px;
}

.navbar {
  margin-bottom: 0;
  border-radius: 0;
  min-height: 65px;
}

/* Set height of the grid so .sidenav can be 100% (adjust as needed) */

.row.content {
  height: 450px
}

/* Set gray background color and 100% height */

.sidenav {
  padding-top: 20px;
  background-color: #f1f1f1;
  height: 100%;
}

/* On small screens, set height to 'auto' for sidenav and grid */

@media screen and (max-width: 767px) {
  .sidenav {
    height: auto;
    padding: 15px;
  }
  .row.content {
    height: auto;
  }
}