<nav class="row" style="background-color:#6608d9; padding: 7px;">
  <!-- Brand and toggle get grouped for better mobile display -->
  <div class="navbar-header col-4 offset-4 text-center">
      <a class="navbar-brand" (click)="gotoDashboard()" class="navbar-a-css" style="font-size: 30px;">Admin
      </a>
  </div>
  <div class="col-4 d-flex justify-content-end align-items-center">
      <a id="logout" class="navbar-a-css" href="#" style="padding: 1rem;">
          Logout</a>
  </div>
  <!-- /.container-fluid -->
</nav>

<div class="container-fluid main-container" style="margin: 20px 0px;">
  <div class="row">
    <nav class="col-md-2 d-none d-md-block bg-light sidebar font-weight-bold">
      <div class="sidebar-sticky">
          <!-- Menu -->
          <ul class="nav flex-column">
              <!--   style="background-color: #6601d9; color: white"  -->
              <li class="nav-item"><a class="nav-link" (click)="gotoDashboard()" > Dashboard </a>
              </li>
              <li class="nav-item"><a class="nav-link active" routerLink="/add-question"
                      (click)="gotoAddQuestionClick()"> Add Quiz/Questions </a>
              </li>
              <li class="nav-item"><a class="nav-link" routerLink="/view-questions" (click)="gotoViewClick()"> View Quiz/Questions
              </a>
          </li>
              <li class="nav-item"><a class="nav-link" routerLink="/delete" (click)="gotoDeleteClick()"> Delete Quiz
                  </a>
              </li>
          </ul>
      </div>
  </nav>
    <div class="col-md-9 col-lg-10 px-4">
      <form [formGroup]='addQuestion' (ngSubmit)="onSubmit()" autocomplete="off">

        <!-- <h3 style="text-align:center">
      Add Questions
    </h3> -->
        <div class="card">
            <div class="card-header">
              <strong>ADD QUESTION</strong>
            </div>

            <div class="card-body">
          <div class="form-group">
            <label for="quizname" style="font-size: 1.25rem;">Quiz Name <span class="lblError"></span></label>
            <div class="controls">
              <select class="custom-select" (change)="changeQuiz($event)" formControlName="quiz_name"
                id="quizname"  [ngClass]="{ 'is-invalid': addSubmitted && f.quiz_name.errors }">
                <option *ngFor="let quiz of quizList" [ngValue]="quiz._id">{{quiz.quizName}}</option>
              </select>
              <div *ngIf="addSubmitted && f.quiz_name.errors" class="invalid-feedback">
                <div *ngIf="f.quiz_name.errors.required">Select some quiz</div>
              </div>
              <span>Does not have quiz? <a (click)="gotoCreateQuiz()" style="color: blue; cursor: pointer;">Create</a></span>
            </div>
          </div>

            <!-- Add Question -->
          <div class="form-group">
            <label for="addquestion">Add Question <span class="lblError"></span></label>
            <div class="controls">
              <input type="text" id="addquestion" placeholder="Enter question" class="form-control"
                formControlName="new_question" [ngClass]="{ 'is-invalid': addSubmitted && f.new_question.errors }">
                <div *ngIf="addSubmitted && f.new_question.errors" class="invalid-feedback">
                  <div *ngIf="f.new_question.errors.required">Question field cannot be empty</div>
                </div>
            </div>
          </div>
            <!-- Add correct answer -->
          <div class="form-group">
            <label for="correctanswer">Correct Answer <span class="lblError"></span></label>
            <div class="controls">
              <input type="text" id="correctanswer" placeholder="Enter Correct Answer" class="form-control"
                formControlName="correct_answer" [ngClass]="{ 'is-invalid': addSubmitted && f.correct_answer.errors }">
                <div *ngIf="addSubmitted && f.correct_answer.errors" class="invalid-feedback">
                  <div *ngIf="f.correct_answer.errors.required">Correct Answer field cannot be empty</div>
                </div>
            </div>
          </div>
            <!-- Add wrong answer -->
          <div class="form-group">
            <label for="wronganswer">Wrong Answer <span class="lblError"></span></label>
            <div class="controls">
              <input type="text" id="wronganswer" placeholder="Enter Wrong Answer" class="form-control"
                formControlName="wrong_answer" [ngClass]="{ 'is-invalid': addSubmitted && f.wrong_answer.errors }">
                <div *ngIf="addSubmitted && f.wrong_answer.errors" class="invalid-feedback">
                  <div *ngIf="f.wrong_answer.errors.required">Wrong Answer field cannot be empty</div>
                </div>
            </div>
          </div>
          <div class="form-group text-center">
            <button class="btn" type="submit" style="width: 30%" [disabled]="addQuestion.invalid">Add another question
            </button>
          </div>
        </div>
        </div>
      </form>
    </div>
  </div>
</div>

<footer class="container-fluid text-center">
  <p>Quiz &copy; Copyright 2020</p>
</footer>
